[alias]
	ad = add .
	st = status --short --branch
	pl = pull
	ps = push
	cm = commit --message
	ch = checkout
  cr = checkout --track
	lo = log --oneline
  rb = pull --rebase origin master
	di = difftool --tool vimdiff --no-prompt
	se = !git rev-list --all | xargs git grep --fixed-strings
