[Unit]
Description=Stop Thinkpad CPU throttling
#After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/throttlestop
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
